<div role="main" class="user-guide-container ui-content jqm-content">

    <div>
        <h2>Accessing Help</h2>
        <p>You can access this user help guide from any screen in the application by clicking the "BasicGov Inspection User Guide" icon in the top-left corner.</p>

        <ul id="help-nav">
            <strong>Table of Contents:</strong>
            <li>
                <a href="#help-login" data-ajax="false">Get started (Login Screen)</a>
                <ul>
                    <li>Log in</li>
                </ul>
            </li>
            <li>
                <a href="#help-overview" data-ajax="false">Manage your scheduled inspections list (Overview Screen)</a>
                <ul>
                    <li>Download and refresh your assigned inspections</li>
                    <li>Cancel and reschedule an inspection</li>
                    <li>Start an inspection</li>
                    <li>Resume an inspection</li>
                    <li>View a summary of an inspection you completed</li>
                    <li>Upload canceled and completed inspections</li>
                    <li>Log out</li>
                </ul>
            </li>
            <li>
                <a href="#help-inspection" data-ajax="false">Fill in an inspection checklist (Inspection Screen)</a>
                <ul>
                    <li>View more information about a question</li>
                    <li>Answer a checklist question</li>
                    <li>Add or edit comments for an individual question or the overall inspection</li>
                    <li>Complete a re-inspection checklist</li>
                    <li>Add corrective actions</li>
                </ul>
            </li>
            <li>
                <a href="#help-summary" data-ajax="false">Finish an inspection (Summary Screen)</a>
                <ul>
                    <li>View past corrective actions summary for a re-inspection</li>
                    <li>Add or edit corrective actions</li>
                    <li>Update question answers or comments</li>
                    <li>Enter respondent information and record a signature</li>
                    <li>Add a stop sale</li>
                    <li>Complete an inspection and schedule a re-inspection</li>
                </ul>
            </li>
            <li><a href="#help-problems" data-ajax="false">Troubleshoot common problems</a></li>
        </ul>
        <h2>Questions?</h2>
        <p>If you have questions not answered in this guide, please contact the help desk at (850) 245-5600 or <a href="mailto:">emailAddress@mass.gov</a>.</p>

        <a id="help-login" class="bookmark-link"></a>
    </div>

    <div>
        <h2>Get started</h2>
        <h3>Login Screen</h3>
        <p>This screen is where you log in to the application. This screen appears when you launch or log out of the application.</p>

        <h4>Log in</h4>
        <ol>
            <li>If this is your first time logging in, first <strong>connect your device to the Internet</strong>.</li>
            <li>
                <strong>Fill in the fields</strong> using your email address as your user name and the password that was given to you.
                <span class="help-note"><strong>Note:</strong> If you don't know your password, go to <a href="https://login.salesforce.com/">login.salesforce.com</a> and click the "Forgot your password?" link.</span>
            </li>
            <li><strong>Click the "Log In" button</strong>. This will take you to the Overview Screen.</li>
        </ol>

        <a id="help-overview" class="bookmark-link"></a>
    </div>

    <div>
        <h2>Manage your scheduled inspections list</h2>
        <h3>Overview Screen</h3>
        <p>This screen is where you view and manage inspections that are assigned to you. This screen appears when you log in to the application, complete an inspection or click an "All Inspections" button. You can download inspections, cancel and start/resume inspections, view and upload completed inspections, and log out of the application on this screen.</p>

        <h4>Download and refresh your assigned inspections</h4>
        <ol>
            <li>First <strong>connect your device to the Internet</strong>.</li>
            <li><strong>Click on the "Download" button</strong> in the bottom-right corner.</li>
            <li>A pop-up window will appear confirming the download or reporting an error. <strong>Click the "Okay" button</strong>.</li>
            <li>
                If the download was not successful, check the connection and try again.
                <span class="help-note"><strong>Note:</strong> For your device to download an inspection, it needs 1) a scheduled date of today or earlier and 2) you recorded in the system as the owner. See the web user guide for help in checking this.</span>
            </li>
        </ol>

        <h4>Cancel and reschedule an inspection</h4>
        <ol>
            <li><strong>Click the "Cancel / Reschedule" button</strong> next to the inspection you want to cancel.</li>
            <li>In the pop-up window that appears, <strong>fill in the fields</strong> for travel time (required) and next scheduled inspection date (optional).</li>
            <li>
                When you are finished, <strong>click the "Finish" button</strong>. The inspection status will change to "Canceled".
                <span class="help-note"><strong>Note:</strong> This inspection is now canceled on your device. You still need to upload this change to the web for the inspection to be canceled in the system. Once the canceled inspection is approved by your supervisor, the system will automatically create an inspection on the new scheduled date <em>or</em> will email you about scheduling a new date.</span>
            </li>
        </ol>

        <h4>Start an inspection</h4>
        <ol>
            <li><strong>Click the "Start Inspection" button</strong> next to the inspection you want to start. This will take you to the Inspection Screen.</li>
            <li><strong>Add any answer or comment</strong> to officially start the inspection. Your device will automatically record the start time.</li>
        </ol>

        <h4>Resume an inspection</h4>
        <ol>
            <li>You can exit an inspection checklist at any time (by clicking the "All Inspections" button in the bottom-left corner) and continue later where you left off. <strong>Click the "Resume Inspection" button</strong> next to the partially-completed inspection you want to continue. This will take you to the Inspection Screen.</li>
            <li>The application will not record a pause in your inspection. <strong>Include any lag time as extra break time</strong> when you complete the inspection.</li>
        </ol>

        <h4>View a summary of an inspection you completed</h4>
        <ol>
            <li>
                <strong>Click the "See Summary" button</strong> next to the completed inspection you want to see. This will take you to the Summary Screen.
                <span class="help-note"><strong>Note:</strong> This is a read-only view, as changes cannot be made to a completed inspection.</span>
            </li>
            <li>When you are finished viewing the summary, click the "All Inspections" button in the bottom-left corner. This will return you to the Overview Screen.</li>
        </ol>

        <h4>Upload canceled and completed inspections</h4>
        <ol>
            <li>First <strong>connect your device to the Internet</strong>.</li>
            <li><strong>Click on the "Upload" button</strong> in the bottom-right corner. If the upload is successful, all canceled and completed inspections will automatically be removed from your device.</li>
            <li>A pop-up window will appear confirming the upload or reporting an error. <strong>Click the "Okay" button</strong>.</li>
            <li>If the upload was not successful, check the connection and try again.</li>
        </ol>

        <h4>Log out</h4>
        <ol>
            <li>
                <strong>Click the "Log Out" button</strong> in the bottom-left corner. This will log you out of the application and take you to the Login Screen.
                <span class="help-note"><strong>Note:</strong> Closing the application will also log you out automatically.</span>
            </li>
        </ol>

        <a id="help-inspection" class="bookmark-link"></a>
    </div>

    <div>
        <h2>Fill in an inspection checklist</h2>
        <h3>Inspection Screen</h3>
        <p>This screen is where you fill in the checklist and comments for an inspection. This screen appears when you start/resume an inspection or click a "See Inspection" button. You can view question details, answer questions and add or edit comments on this screen.</p>

        <h4>View more information about a question</h4>
        <ol>
            <li><strong>Click the "more" link</strong> to the right of the question you want to see more about. This will take you to the Question Details Screen.</li>
            <li>On the Question Details Screen, you will find Requirements, Procedure, Verification and Corrective Action/Disposition information for the question.</li>
            <li>When you are finished viewing the details, <strong>click the "Back" button</strong> in the bottom-left corner. This will return you to the Inspection Screen.</li>
        </ol>

        <h4>Answer a checklist question</h4>
        <ol>
            <li>
                <strong>Click on the "C" (Compliant), "CAN" (Corrective Action Needed), "IAR" (Immediate Action Required) or "N/A" (Not Applicable) button</strong> below the question.
                <span class="help-note"><strong>Note:</strong> When all questions in a section are completed, a checkmark will appear next to the section number in the left-hand sidebar. If a checkmark does not appear, double-check the section for one or more missing answers.</span>
            </li>
            <li>
                To change your answer, click another answer button. This will change your selection.
                <span class="help-note"><strong>Note:</strong> Question answers are saved automatically whenever they are entered or updated.</span>
            </li>
            <li>If you have selected <strong>"CAN" or "IAR" as the answer, add a comment</strong> to the individual question describing the issue(s) you found (see the next section for help with adding comments).</li>
        </ol>

        <h4>Add or edit comments for an individual question or the overall inspection</h4>
        <ol>
            <li><strong>Click the round add comment icon</strong> <span class="ui-btn ui-btn-inline ui-icon-note ui-btn-icon-notext ui-corner-all"></span> or round added comment icon <span class="ui-btn ui-btn-inline ui-icon-note has-note ui-btn-icon-notext ui-corner-all"></span> to the right of the question title or inspection title you want to comment on. (The inspection title is located in the top bar of the application.)</li>
            <li>In the pop-up window that appears, <strong>enter your comments</strong>.</li>
            <li>When you are finished, <strong>click the "Save" button</strong> to attach the comments to the individual question or overall inspection. You will see the comment icon change if this is the first comment attached to the question or inspection.</li>
        </ol>

        <h4>Complete a re-inspection checklist</h4>
        <ol>
            <li>When the inspection is a re-inspection, you only need to <strong>select the "C" (Compliant), "CAN" (Corrective Action Needed), "IAR" (Immediate Action Required) or "N/A" (Not Applicable) button below the unanswered questions</strong> in the checklist. Unanswered questions are ones found non-compliant during the first inspection. All other questions will be filled in with answers from the first inspection.</li>
            <li>If there is a round added comment icon <span class="ui-btn ui-btn-inline ui-icon-note has-note ui-btn-icon-notext ui-corner-all"></span> to the right of the question title, <strong>click on this</strong>.</li>
            <li>In the pop-up window that appears, you may want to <strong>remove or edit any comments</strong> that apply to the first inspection.</li>
            <li>When you are finished, <strong>click the "Save" button</strong>.</li>
        </ol>

        <h4>Add corrective actions</h4>
        <ol>
            <li>
                Corrective actions are entered on the Summary Screen. To access this screen, <strong>click the "See Summary" button</strong> in the bottom-right corner.
                <span class="help-note"><strong>Note:</strong> When all the answers in an inspection are complete, this button will change to "Next", but it will still take you to the Summary Screen.</span>
            </li>
            <li>In the "Non-Compliant Questions" table, <strong>click the round pencil icon</strong> <span class="ui-btn ui-btn-inline ui-btn-e ui-icon-edit ui-btn-icon-notext ui-corner-all"></span> in the "Corrective Action" column for any question.</li>
            <li>In the pop-up window that appears, <strong>enter the corrective action</strong> and any related due dates.</li>
            <li>When you are finished, <strong>click the "Save" button</strong> to attach the corrective action to the question. You will see the text displayed in the table.</li>
            <li>To return to the Inspection Screen, click the "See Inspection" button in the bottom-left corner.</li>
        </ol>

        <a id="help-summary" class="bookmark-link"></a>
    </div>

    <div>
        <h2>Finish an inspection</h2>
        <h3>Summary Screen</h3>
        <p>This screen is where you can view an overall summary and complete an inspection. This screen appears when you click a "See Summary" or "Next" button. You can read past corrective actions, add or edit new corrective actions, enter or update basic respondent information, record an respondent signature, add a stop sale and complete an inspection on this screen.</p>

        <h4>View past corrective actions summary for a re-inspection</h4>
        <ol>
            <li>
                When the inspection is a re-inspection, you will <strong>see previous corrective actions in the "Past Non-Compliant Questions To Address" table</strong> at the top of the screen.
                <span class="help-note"><strong>Note:</strong> To quickly complete a re-inspection, click the round arrow icon <span class="ui-btn ui-btn-inline ui-btn-e ui-icon-carat-l ui-btn-icon-notext ui-corner-all"></span> in the "View" column. This will take you directly to this question on the Inspection Screen. After you have answered the question, click the "See Summary" (or "Next") button in the bottom-right corner to return to the table.</span>
            </li>
        </ol>

        <h4>Add or edit corrective actions</h4>
        <ol>
            <li>In the "Non-Compliant Questions" table, <strong>click the round pencil icon</strong> <span class="ui-btn ui-btn-inline ui-btn-e ui-icon-edit ui-btn-icon-notext ui-corner-all"></span> in the "Corrective Action" column for any question.</li>
            <li>In the pop-up window that appears, <strong>enter or update the corrective action</strong> and any related due dates.</li>
            <li>When you are finished, <strong>click the "Save" button</strong> to attach the corrective action to the question. You will see the text change in the table.</li>
        </ol>

        <h4>Update question answers or comments</h4>
        <ol>
            <li>In the "Non-Compliant Questions" or "Other Comments" table, <strong>click the round arrow icon</strong> <span class="ui-btn ui-btn-inline ui-btn-e ui-icon-carat-l ui-btn-icon-notext ui-corner-all"></span> in the "View" column. This will take you directly to this question on the Inspection Screen.</li>
            <li><strong>Change the question answer or comment</strong> here and click the "See Summary" (or "Next") button in the bottom-right corner to return to the Summary Screen. You will see the changes reflected on this screen.</li>
        </ol>

        <h4>Enter respondent information and record a signature</h4>
        <ol>
            <li>In the "Respondent Signature" area near the bottom of the screen, <strong>click the input areas to add or update</strong> the respondent name (first box) and respondent email address(es) (second box).</li>
            <li>
                <strong>Have the respondent sign in the signature box using a stylus</strong> (a pen for your device). Click the "Clear Signature" button to remove or redo the signature.
                <span class="help-note"><strong>Note:</strong> The "Respondent Signature" area is saved automatically whenever it is updated.</span>
            </li>
        </ol>

        <h4>Add a stop sale</h4>
        <ol>
            <li>The "Stop Sale" button appears at the top of the Summary Screen when an inspection is non-compliant. <strong>Slide the toggle box from left to right</strong> to change the status from "No" to "Yes" and add a stop sale to the inspection.</li>
            <li>To remove the stop sale, simply slide the box from right to left to change the status back to "No".</li>
            <li>The button changes the stop sale status for the inspection on your device. You still need to <strong>manually write and hand over a stop sale</strong> to the respondent.</li>
        </ol>

        <h4>Complete an inspection and schedule a re-inspection</h4>
        <ol>
            <li>
                <strong>Click the "Complete Inspection" button</strong> at the bottom right of the "Respondent Signature" area. This button will appear when all inspection answers are completed (or at least one IAR is recorded). You may need to scroll to see it.
                <span class="help-note"><strong>Note:</strong> Once you complete an inspection, you cannot change the corrective actions, answers, comments, respondent information, signature or stop sale status.</span>
            </li>
            <li>In the pop-up window that appears, <strong>fill in the fields</strong> for travel time (required), break time (required), inspection finish time in 24-hour format (required, defaults to current time) and next scheduled inspection date (optional).</li>
            <li>
                When you are finished, <strong>click the "Finish" button</strong>. This will save and lock the inspection and take you to the Overview Screen. The inspection status will show as "Compliant" or "Non-Compliant".
                <span class="help-note"><strong>Note:</strong> This inspection is now completed on your device. You still need to upload this change to the web for the inspection to be completed (and compliant or non-compliant) in the system. Once any non-compliant inspection is approved by your supervisor, the system will automatically create a re-inspection on the scheduled date <em>or</em> will email you about scheduling a re-inspection.</span>
            </li>
        </ol>

        <a id="help-problems" class="bookmark-link"></a>
    </div>

    <div>
        <h2>Troubleshoot common problems</h2>

        <h4>Logging in or logging out</h4>
        <ul>
            <li>If this is your first time logging in or your user name/password has changed, make sure your device has an active Internet connection. The system will need to check your information once online.</li>
            <li>Use your email address as your user name.</li>
            <li>Check your password for capital letters. Passwords are case-sensitive.</li>
            <li>To log out, close the application or go to the Overview Screen. (The "Log Out" button appears only on this screen, in the bottom-left corner.)</li>
        </ul>

        <h4>Downloading or uploading inspections</h4>
        <ul>
            <li>Make sure your device has an active Internet connection. The "Download" and "Upload" buttons will be disabled with an offline status if you are not connected.</li>
            <li>Click the "Download" button to download your scheduled inspections for today and to update any previously downloaded (but not yet started) inspections.</li>
            <li>
                 If an inspection you expect to see does not appear, log in to the web interface to check your inspection has:
                <ul>
                    <li>A scheduled date of today or earlier (you can modify this in the web interface)</li>
                    <li>You recorded as the owner (a supervisor would need to modify this for you)</li>
                </ul>
            </li>
            <li>Before an upload, check that you have one or more inspections that are ready for upload. Only inspections that are canceled or fully completed (with a status of "Compliant" or "Non-Compliant") can be uploaded.</li>
            <li>If you start a download or upload that fails, simply try again later. You will not lose any data.</li>
        </ul>

        <h4>Recording time and scheduling information for an inspection</h4>
        <ul>
            <li>You do not need to manually enter a start time for an inspection. Start times are recorded automatically when you click the "Start Inspection" button and add any answer or comment to the inspection.</li>
            <li>When you click the "Cancel / Reschedule" button, you will be prompted to enter travel time (required) and a next scheduled inspection date (optional) for the inspection.</li>
            <li>When you click the "Complete Inspection" button, you will be prompted to enter travel time (required), break time (required), finish time (required, defaults to current time) and a next scheduled inspection date (optional, non-compliant inspections only) for the inspection.</li>
        </ul>

        <h4>Closing an inspection</h4>
        <ul>
            <li>Go to the inspection's Summary Screen. Inspections can be completed only on this screen. The "Complete Inspection" button appears at the bottom of this screen when all inspection answers are completed (or at least one IAR is recorded). You may need to scroll to see it.</li>
            <li>If you can't complete the inspection, check that all answers are filled in on the Inspection Screen. You should see checkmarks next to all section numbers in the left-hand sidebar. If a checkmark does not appear, double-check the section for one or more missing answers.</li>
            <li>In the pop-up window that appears when you click the "Complete Inspection" button, the inspection finish time will default to the current time. If you need to change this, make sure the new time is still later than the start time and uses the 24-hour format (where 1 a.m. = 1:00 and 1 p.m. = 13:00).</li>
        </ul>
    </div>

</div>
